html {
    background-color: wheat;
    color: black;
}

header {
    padding-top: 0px;
    font-size: 1.5cm;
}

h1 {
    text-align: center;
}

#page1 {
    position: relative;
    bottom: -30px;
    text-align: center;
}

#game_title {
    font-size: 50px;
}

#scoreCard {
    position: relative;
    padding: 5px;
    float: right;
    border: 2px solid black;
    width: 150px;
}

#question {
    padding: 0;
    margin: 0;
    position: relative;
    top: 80px;
    height: 350px;
    font-size: xx-large;
    text-align: left;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

#no {
    order: 0;
    border: 2px solid black;
    text-align: center;
    padding: 0;
    width: 10%;
    height: 100%;
    font-size: 4cm;
}

#que {
    height: 100%;
    width: 88%;
    border: 2px solid black;
}

#options {
    position: relative;
    bottom: -100px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.option {
    height: 150px;
    width: 24%;
}

.Back {
    float: left;
    width: 200;
    height: 100;
}

.Next {
    width: 300;
    height: 10;
    float: right;
}

#back_next {
    position: relative;
    bottom: -300px;
}